In [3]:
import pymysql
import seaborn as sns
import pandas as pd
sns.set

#conn = pymysql.connect('localhost','root','root','accidents2',port=8889)

def fetch_clean(localhostname,user,pw,db,port):
    conn = pymysql.connect(localhostname,user,pw,db,port)
    cursor = conn.cursor()

    #accidents data
    cursor.execute('SELECT * FROM Accidents')
    desc = cursor.description
    accidents = cursor.fetchall()

    acc_names = []
    for i in range(len(desc)):
        acc_names.append(desc[i][0])

    acc_df = pd.DataFrame(accidents, columns = acc_names)

    #environment data
    cursor.execute('SELECT * FROM Environment')
    environment = cursor.fetchall()
    env_desc = cursor.description

    env_names = []
    for i in range(len(env_desc)):
        env_names.append(env_desc[i][0])

    env_df = pd.DataFrame(environment, columns = env_names)

    #location data
    cursor.execute('SELECT * FROM Location_POI_start')
    location = cursor.fetchall()
    loc_desc = cursor.description

    loc_names = []
    for i in range(len(loc_desc)):
        loc_names.append(loc_desc[i][0])

    loc_df = pd.DataFrame(location, columns = loc_names)

    #zip data
    cursor.execute('SELECT * FROM Location_zip')
    zip_code = cursor.fetchall()
    zip_desc = cursor.description

    zip_names = []
    for i in range(len(zip_desc)):
        zip_names.append(zip_desc[i][0])

    zip_df = pd.DataFrame(zip_code, columns = zip_names)

    #day data
    cursor.execute('SELECT * FROM accidents_day')
    accidents_day = cursor.fetchall()
    acc_d_desc = cursor.description

    day_names = []
    for i in range(len(acc_d_desc)):
        day_names.append(acc_d_desc[i][0])

    day_df = pd.DataFrame(accidents_day, columns = day_names)

    #night data
    cursor.execute('SELECT * FROM accidents_night')
    accidents_night = cursor.fetchall()
    acc_n_desc = cursor.description

    night_names = []
    for i in range(len(acc_n_desc)):
        night_names.append(acc_n_desc[i][0])

    night_df = pd.DataFrame(accidents_night, columns = night_names)

    conn.close()
    return acc_df,env_df,loc_df,zip_df,day_df,night_df

fetch_clean('localhost','root','root','accidents2',port=8889)

In [18]:
def fetch_clean1(localhostname,user,pw,db,port,table):
    conn = pymysql.connect(localhostname,user,pw,db,port)
    cursor = conn.cursor()

    #accidents data
    cursor.execute(f'SELECT * FROM {table}')
    desc = cursor.description
    data = cursor.fetchall()

    data_names = []
    for i in range(len(desc)):
        data_names.append(desc[i][0])

    data_df = pd.DataFrame(data, columns = data_names)
    conn.close()
    return data_df

In [39]:
d=fetch_clean1(localhostname='localhost',
             user='root',
             pw='root',
             db='accidents2',
             port=8889,
             table='Accidents')

In [42]:
d.columns

Index(['id', 'source', 'TMC', 'severity', 'start_time', 'end_time',
       'start_lat', 'start_lng', 'distance', 'Description', 'airport_code',
       'weather_timestamp', 'sunrise_sunset', 'civil_twilight',
       'astronomical_twilight'],
      dtype='object')

In [54]:
d['st_day'] = d['start_time'].apply(lambda time:time.dayofweek)
d['st_month'] = d['start_time'].apply(lambda time:time.month)
d['st_year'] = d['start_time'].apply(lambda time:time.year)
d['st_hr'] = d['start_time'].apply(lambda time:time.hour)
d['st_min'] = d['start_time'].apply(lambda time:time.minute)

d['end_day'] = d['end_time'].apply(lambda time:time.dayofweek)
d['end_month'] = d['end_time'].apply(lambda time:time.month)
d['end_year'] = d['end_time'].apply(lambda time:time.year)
d['end_hr'] = d['end_time'].apply(lambda time:time.hour)
d['end_min'] = d['end_time'].apply(lambda time:time.minute)

d['weather_day'] = d['weather_timestamp'].apply(lambda time:time.dayofweek)
d['weather_month'] = d['weather_timestamp'].apply(lambda time:time.month)
d['weather_year'] = d['weather_timestamp'].apply(lambda time:time.year)
d['weather_hr'] = d['weather_timestamp'].apply(lambda time:time.hour)
d['weather_min'] = d['weather_timestamp'].apply(lambda time:time.minute)

In [59]:
d_drop = d.drop(columns = ['start_time','end_time','weather_timestamp'])

In [60]:
d_drop.head()

,id,source,TMC,severity,start_lat,start_lng,distance,Description,airport_code,sunrise_sunset,...,end_day,end_month,end_year,end_hr,end_min,weather_day,weather_month,weather_year,weather_hr,weather_min
0,"""A-1000003""","""MapQuest""",201,2,33.668976,-112.083427,0.00,"b'""Right lane blocked due to accident on AZ-10...","""KDVT""","""Day""",...,5,4,2019,14,29,5,4,2019,13,53
1,"""A-1000007""","""MapQuest""",201,2,33.668976,-112.083427,0.00,"b'""Right lane blocked due to accident on AZ-10...","""KDVT""","""Day""",...,5,4,2019,17,27,5,4,2019,16,53
2,"""A-1000009""","""MapQuest""",201,2,33.668976,-112.083427,0.00,"b'""Right lane blocked due to accident on AZ-10...","""KDVT""","""Day""",...,5,4,2019,19,8,5,4,2019,18,53
3,"""A-100001""","""MapQuest""",201,2,33.849846,-117.867081,0.00,"b'""Accident on Blue Star St Eastbound at White...","""KFUL""","""Day""",...,1,4,2016,16,48,1,4,2016,15,53
4,"""A-1000014""","""MapQuest""",201,2,44.114365,-122.456451,6.37,"b'""Accident on OR-126 Mckenzie Hwy both ways b...","""KEUG""","""Day""",...,5,4,2019,12,43,5,4,2019,7,54